body {
background-color: peachpuff;
font-family: 'Grandstander', cursive;
}

h2 {
    color: brown;
    text-decoration: underline;
}
button {
background-color: brown;
color: white;
font-size: 120%;
font-family: 'Grandstander', cursive;
}
